[2016-10-04 14:09] ajschenk opened #1 "Need my username"
![image](https://cloud.githubusercontent.com/assets/22618097/19077436/9fda1174-8a1a-11e6-8ef9-7cc67ad154ce.png)

Testing.

[2016-10-04 14:09] kingharrison commented on #1
I will send it to you!

[2016-10-04 14:22] mjs8246 opened #2 "Product Timeline for this url"
http://10.5.49.15:8051/orders/details?OWNORDER=0&PQ_LOCN=1&PQ_SUPL=030206&PQ_SUPLSUB=REG&PQ_SOQSEQNUM=1&PQ_PROD=912840&PRODPROP=AL

[2016-10-04 14:32] #1 closed

[2016-10-07 12:28] ajschenk opened #3 "Approved Purchase Orders for Product - Incorrect Data"
Looking at "Product POs" for item# 201178, several columns are displaying incorrect data.

PO Number: Correct
Ordered: Correct
Expected Arrival Date: correct, with the exception of the top two rows (no date)
Expected LT: incorrect - showing expected arrival date instead of LT calculation
Actual Received: incorrect - showing PO number instead of actual date of receipt
Actual LT: incorrect - showing

[2016-10-07 13:41] ajschenk opened #4 "SOQ Simulator"
In Jellybean, when entering the SOQ Simulator, there is an option to "Update SOQ." Through Blackbean, I have updated the "Units on Order" field, based upon cuts to the order received today, and was able to calculate the new suggested order of 440. With that said, I cannot click on "Update SOQ," I need to manually updated the OQ on the Products Detail page.

URL: http://10.5.49.15:8051/orders/detai

[2016-10-07 15:29] kingharrison commented on #4
Thanks @ajschenk. Ask and you shall recieve! Verison 10.7.16. Should be up soon.

<img width="1382" alt="screen shot 2016-10-07 at 11 29 11 am" src="https://cloud.githubusercontent.com/assets/6114928/19195884/563e1128-8c81-11e6-9bd9-49d9558de260.png">

[2016-10-07 15:30] kingharrison commented on #3
Could you attach a Jelly Bean screen of the correct as well?

[2016-10-07 16:55] ajschenk commented on #3
![image](https://cloud.githubusercontent.com/assets/22618097/19198471/50edeac0-8c8d-11e6-84a0-4290fcd0144f.png)

[2016-10-09 17:11] #4 closed

[2016-10-09 17:25] kingharrison commented on #2
I cannot reproduce this. I am not sure what caused this except the wrong SOQSEQ number. When a situation like this occurs if we can narrow down the path you followed that will help.

[2016-10-09 17:25] #2 closed

[2016-10-09 18:00] kingharrison commented on #3
@UserInHIsName I am going to need your help with this one because it looks like the fields come from a couple different files and / or are calculated and my first stab at it was off.

The green screen version is K3S_1045.

I believe I get some of these values from joining K_INTORDB and K_INTORDB. Maybe including K_SUPLIER?

Purchase Order # - ID_PO# & IB_PO#
Ordered -
Expected Arrival - Is this ca

[2016-10-10 13:35] ajschenk opened #5 "Updating User Status to Manual"
I cannot find a way to update an item's user status, in this case, to manual. I've looked on the product details page, as well as on the product history page. Can you point me in the right direction?

![image](https://cloud.githubusercontent.com/assets/22618097/19237855/da3b6de8-8ecc-11e6-914c-d4bf53bd4c03.png)

[2016-10-10 17:00] kingharrison commented on #5
Im glad you asked this. It is possible on the Product Details screen. I had not added it back to the Product Settings screen. I will put that option back for you tomorrow.

[2016-10-11 02:41] kingharrison commented on #5
You can now set products to Normal, Manual, or Watch on the Product Settings Screen and the Products On Order Details Screen.

The ability to set to Frozen and Probation needs an adjustment to handle the date. Should have soon.

I have updated you to the latest.

[2016-10-11 02:42] #5 closed

[2016-10-11 13:06] ajschenk opened #6 "Missing: Weekly Avg in custom text box"
In Jellybean,  we see the weekly average ("13/4 Average" / 4) in the user defined text box on the product details page. This is very useful when comparing the forecast average to the past 21 days demand, without needing to do the calculation for each item. Below is a screen shot from both Jellybean and Blackbean. If possible, I'd like this to be added to Blackbean.

![image](https://cloud.githubus

[2016-10-11 15:39] ajschenk opened #7 "Sales Journal Export"
I would like the option to export the Sales Journal to a .csv file. This is incredibly useful for execution against a product recall, or even in discussion with Sales in regards to who is currently buying a product, preparing for product discontinuation/conversions, etc.

If possible, the ability to select a start and end date would be most helpful, as it pertains to recalls. This can be filtered

[2016-10-11 15:45] ajschenk opened #8 "Exclude/Ignore Product History"
It would be very useful to be able to exclude specified weeks/periods of history, when calculating a product average, rather than calculating the average from the period after the exception. This is often used when we see a spike in sales due to a promotion/trade show, and works in the reverse when we may have one or more periods with no history, due to manufacturer outs.

Per our call today, the

[2016-10-11 15:47] ajschenk opened #9 "Notes to be deleted from Today's Agenda"
I currently have two notes displaying on my "Today's Agenda" page, indicating that there was a problem processing PO's in the past. These notes do not display in Jellybean, and I am unable to delete the notes from Blackbean.

URL: http://10.5.49.15:8051/todaysagenda

![image](https://cloud.githubusercontent.com/assets/22618097/19277669/7bc40a36-8fa8-11e6-821b-9f4491da4c67.png)

[2016-10-11 15:52] ajschenk opened #10 "Adding Break Points on Product On Suggested Order Screen"
When viewing the data presented on the Product on Suggested Order Screen (Product Details), there is a lot of data presented, without well defined breaks for the eyes to stop at.

As discussed today, changing the color of the spaces between section, provides a break point for the eyes, and is easier to train myself precisely where I need to look on the screen, when quickly glancing for a specific

[2016-10-11 18:09] ajschenk opened #11 "Bug: Search K3S"
When searching for an item (it has been any item that I've tried), using the search feature from Today's Agenda, I receive the following error:

URL: http://10.5.49.15:8051/search/productresults?selectid=id&searchtext=467852

![image](https://cloud.githubusercontent.com/assets/22618097/19282371/2136c4e6-8fbc-11e6-860a-5d15063ebb32.png)

![image](https://cloud.githubusercontent.com/assets/22618097/

[2016-10-11 19:06] kingharrison commented on #10
<img width="1291" alt="screen shot 2016-10-11 at 3 06 16 pm" src="https://cloud.githubusercontent.com/assets/6114928/19284539/496e80c2-8fc4-11e6-88ba-0fff7f510dba.png">

Added. I tried to go subtle but effective. Let me know if they are too subtle.

[2016-10-12 01:15] kingharrison commented on #6
@UserInHIsName it looks like DETYOUR might not be getting all the lines.

[2016-10-12 12:40] ajschenk commented on #10
It doesn't look like I've received this update yet; however, looking at the screen shot, I think that slightly darker may be better.

[2016-10-12 12:42] kingharrison commented on #10
I think you will need to hold down SHIFT and hit refresh. It is caching the CSS (the style files for speed).

[2016-10-12 12:43] ajschenk commented on #10
That worked. Thank you.

[CBWblueBevelLogo]

Drew Schenk
Vice President of Purchasing
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 146
800-992-0592   Fax: 717-285-8008
Drew.Schenk@cooperbooth.com<mailto:Drew.Schenk@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com>

From: King Harrison [mailto:notifications@github.com]
Sent: Wednesday, October 12, 2016 8:42 AM
To: K3

[2016-10-12 12:45] kingharrison commented on #10
For color changes give this one a little bit of navigating to see and I can definitely go darker, but see if this makes a difference.

[2016-10-12 17:44] kingharrison commented on #9
This should be taken care of now.

[2016-10-12 17:44] #9 closed

[2016-10-12 19:50] UserInHIsName commented on #6
Hmmm;

Jellybean does not use APIs, meaning that we will have to see how they are geting the average value in CBW_5MOD/K3S_9940 or 9930. Right?

[2016-10-13 19:29] kingharrison commented on #6
@ajschenk this should be fixed tomorrow on the update

[2016-10-13 19:29] #6 closed

[2016-10-13 19:29] kingharrison commented on #10
@ajschenk does the color work or need to be darker?

[2016-10-13 22:00] ajschenk commented on #10
I think that color will work.

[CBWblueBevelLogo]

Drew Schenk
Vice President of Purchasing
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 146
800-992-0592   Fax: 717-285-8008
Drew.Schenk@cooperbooth.com<mailto:Drew.Schenk@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com>

From: King Harrison [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 3:30 PM
T

[2016-10-13 22:10] kingharrison commented on #10
Great! I will close this. 

-King Harrison
Sent from iPhone
Please excuse all typos

On Thu, Oct 13, 2016 at 6:00 PM -0400, "ajschenk" <notifications@github.com> wrote:

I think that color will work.

[CBWblueBevelLogo]

Drew Schenk

Vice President of Purchasing

200 Lincoln West Drive

Mountville, PA 17554

717-285-8000 ext. 146

800-992-0592   Fax: 717-285-8008

Drew.Schenk@cooperbooth.com<mailt

[2016-10-14 09:39] #10 closed

[2016-10-14 12:42] ajschenk opened #12 "Identify seasonal profile factors on Products on Suggested Order Screen"
When looking at the Products on Suggested Order Screen, it is not evident whether or not the item has a seasonal profile applied.

In Jellybean, I could quickly glance at the "Factor" section, as shown below, and make a judgement as to whether or not we are on track, with reviewing prior periods and 21 day demand history.

![image](https://cloud.githubusercontent.com/assets/22618097/19387685/d6c86

[2016-10-14 12:58] ajschenk opened #13 "Blackbean Demand not matching Jellybean"
I've found an item where Blackbean is not showing any demand history in the Last 21 day section; however, Jellybean is reflecting the demand accurately.

![image](https://cloud.githubusercontent.com/assets/22618097/19388140/0e94234c-91ec-11e6-907c-b7c1058f088a.png)

![image](https://cloud.githubusercontent.com/assets/22618097/19388159/2ca5ef3c-91ec-11e6-93d9-81acd739574c.png)
URL: http://10.5.49.1

[2016-10-14 13:06] ajschenk opened #14 "Clearing Suggested Quantity of Multiple Items"
If I'm at a point, where I'd like to clear the suggested quantity of multiple items (to zero), is there a way to do that without individually changing the quantity for each item? In JB, I would enter a "4" in the block next to each item to be cleared. With BB, I'm not sure what all of the purposes are for the check boxes at each line item.

![image](https://cloud.githubusercontent.com/assets/22618

[2016-10-14 18:50] kingharrison commented on #14
Ohhhh, let me work on that. Good idea.

[2016-10-14 18:50] kingharrison commented on #13
Let me work on this one.

[2016-10-15 09:57] kingharrison commented on #14
This has been added to version 10.15.16. Should see soon.

[2016-10-15 09:57] #14 closed

[2016-10-15 11:33] kingharrison commented on #3
I believe this is now fixed. Please inspect. Version 10.15.16

[2016-10-15 13:47] #3 closed

[2016-10-16 03:43] kingharrison commented on #12
Added and should be available Monday.

[2016-10-16 03:43] #12 closed

[2016-10-16 03:44] kingharrison commented on #11
For Product IDs this is now fixed. Product Description, Supplier ID, and PO search is still being worked on.

[2016-10-16 15:33] kingharrison commented on #11
Added supplier search.

Besides POs what else would you like to search?

[2016-10-17 13:39] ajschenk commented on #11
It would be great to search by suppliers item number, which is currently in the "your space" section shown below, as well as the Manufacturer ID field in the Product Details.

![image](https://cloud.githubusercontent.com/assets/22618097/19439760/54a3b222-944d-11e6-93f3-988fe2969619.png)

![image](https://cloud.githubusercontent.com/assets/22618097/19439845/a61c7a08-944d-11e6-9863-7ddecb39c383.png)

[2016-10-17 15:04] kingharrison commented on #13
Please check this one out Drew. This looks good now.

[2016-10-17 15:06] kingharrison commented on #11
Added to 10.17.16.

[2016-10-17 15:06] #11 closed

[2016-10-17 15:08] #13 closed

[2016-10-17 17:33] ajschenk opened #15 "Order Cycle Analysis"
When trying to approve a new order cycle, by clicking "35" as depicted below, followed by the "check mark," I receive an error message stating "Supplier ID does not exist. This has occurred on all vendors that I have tried to update today.

URL: http://10.5.49.15:8051/suppliers/ordercycle?LOCN=1&SUPL=012145&SUPLSUB=

![image](https://cloud.githubusercontent.com/assets/22618097/19448061/203db2be-94

[2016-10-17 18:27] kingharrison commented on #15
Just tested on a supplier as well and was able to confirm this. This is a weird one. It isn't happening on our test system but is obviously happening on yours. I might end up calling you if we need help pinpointing this one.

[2016-10-18 01:40] kingharrison commented on #15
Will you give this a try? I think this is now fixed.

[2016-10-26 13:51] kingharrison commented on #15
Hi Drew, wanted to check in on this. Is this working to your specifications now?

[2016-10-26 15:40] ajschenk commented on #15
This is now working perfectly. I have updated the order cycle on all of my vendors with a OC over 6 months.

[2016-10-26 15:41] kingharrison commented on #15
Fantastic! I will close.

[2016-10-26 15:41] #15 closed

[2016-10-27 12:53] ajschenk opened #16 "Product Maintenance Display"
When viewing a list of products, in this case, new products, I would like the "Product Maintenance" button to take me directly to that item's PM screen. Currently, when clicking on PM, it opens a new window, Product Settings, which is unfiltered and showing all products. For time savings, going directly to the item I clicked on would be helpful.

URL: http://10.5.49.15:8051/orders/products?PQ_LOCN

[2016-10-27 15:15] kingharrison commented on #16
Adjusted in version 10.27.16

For a more conventional naming scheme Product Maintenance is being replaced by Product Settings. However the button now takes you to the desired screen. You should see the adjustment tomorrow.

[2016-10-27 15:15] #16 closed

[2016-11-14 14:37] ajschenk opened #17 "Start List Error"
When clicking "Start List" from this URL (http://10.5.49.15:8051/orders/products?PQ_LOCN=1&PQ_SUPL=015025&PQ_SUPLSUB=&PQ_SOQSEQNUM=1&PRODPROP=SQ&OWNORDER=0), I am taken to a page with the following error.

![image](https://cloud.githubusercontent.com/assets/22618097/20268617/ee518136-aa4d-11e6-9aaf-8fb32a47ceb1.png)

URL of error page: http://10.5.49.15:8051/orders/details?STARTLIST=1&PQ_LOCN=1&PQ

[2016-11-14 14:54] kingharrison commented on #17
On it Drew. Let me look.

[2016-11-14 15:10] kingharrison commented on #17
Should be fixed now.

[2016-11-14 15:15] #17 closed

[2016-11-18 22:06] ajschenk opened #18 "Approved Order Screen"
The "Approved Order Screen" in JB is set to sort the orders with the most recently accepted PO on the top. This is beneficial for my Purchasing Assistants, as they use this list to verify that all orders have dropped to AFS, and at times, use this as a reference for the PO#. Below is a screen shot of the JB screen:

![image](https://cloud.githubusercontent.com/assets/22618097/20448239/0aca9256-adb

[2016-11-19 12:09] kingharrison commented on #18
So this screen already exists! I will work on where to put a button for this one, but it is a menu option on the left.

<img width="279" alt="screen shot 2016-11-19 at 7 08 13 am" src="https://cloud.githubusercontent.com/assets/6114928/20455313/0faf43a4-ae27-11e6-9306-b1b753b5bb93.png">

Now do you have a good suggestion on where to put the option or the button? I could have a button near options

[2016-11-19 12:14] kingharrison commented on #18
I also realize I haven't highlighted this enough. There are extra options on every screen. The are in the upper left hand corner and when you click on the downward facing carrot they show up. There aren't extra options everywhere, but if they exist this is where I put them.

<img width="892" alt="screen shot 2016-11-19 at 7 14 21 am" src="https://cloud.githubusercontent.com/assets/6114928/20455354

[2016-11-21 10:50] #18 closed

[2016-11-25 17:50] ajschenk opened #19 "Sales Journal Order vs. Ship Qty Incorrect"
When comparing the Sales Journal on JB vs. BB, the information displayed in BB is not accurate. BB is showing the "Order Quantity" as 0, and "Ship Quantity" as "X" numeric value. It appears that these two columns are backwards, as we currently have demand, and zero product to fill the order. Below is a screen shot from both systems.

URL:http://10.5.49.15:8051/orders/salesjournal?IE_LOCN=1&IE_SUPL

[2016-11-26 12:01] kingharrison commented on #19
I want to confirm with you but I believe the Order Quantity and Ship Quantity fields are fixed, as well as the Customer Number (and fixed how the Customer Number, Name, and Chain Number fields are aligned).

Accumulated demand does not work at the moment very well. I am working on that.

[2016-12-08 18:38] kingharrison opened #20 "I would really like more colors"
I think the colors are too bland.
<img width="1200" alt="screen shot 2016-12-08 at 1 38 16 pm" src="https://cloud.githubusercontent.com/assets/6114928/21022711/98646034-bd4b-11e6-98cf-d08f45147862.png">

[2016-12-09 14:05] ajschenk opened #21 "Order Not Approved"
When trying to approve orders in BB this morning, I receive an "order not approved" message in the upper right hand corner (red pop-up). I'm approving order in JB at the point.

[2016-12-09 19:56] kingharrison commented on #21
Got Drew. We are working on it.

[2016-12-10 09:21] #20 closed

[2016-12-12 16:38] kingharrison commented on #21
Drew
@UserInHIsName @yeltnarb have created a fix and it should be over on the machine. When you are ready you can test and lest us know if you had success or not.

[2016-12-13 13:45] ajschenk commented on #21
Still having the same issue this morning.

URL: http://10.5.49.15:8051/orders/approve?LOCN=1&SUPL=156680&SUPLSUB=&BUYR=03&SOQSEQNUM=1

![image](https://cloud.githubusercontent.com/assets/22618097/21142510/8a77060c-c110-11e6-9a37-2fe28d34ef3a.png)

[2016-12-15 14:25] kingharrison commented on #21
Drew, we finished it test environment and we're able to test a few APIs that we're fixed. You should be able to approve orders today through Black Bean with no problem.

[2016-12-15 21:40] ajschenk commented on #21
Thanks, King. I will try some orders in BB tomorrow morning.

[CBWblueBevelLogo]

Drew Schenk
Vice President of Purchasing
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 146
800-992-0592   Fax: 717-285-8008
Drew.Schenk@cooperbooth.com<mailto:Drew.Schenk@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com>

From: King Harrison [mailto:notifications@github.com]
Sent: Thurs

[2016-12-16 14:02] ajschenk commented on #21
Order approval worked this morning, and transferred to AFS as expected. Thanks.

[2016-12-16 14:04] kingharrison commented on #21
Hooray! @UserInHIsName @yeltnarb

[2016-12-16 14:04] #21 closed

[2016-12-28 15:11] michaelh18 opened #22 "test"
![image](https://cloud.githubusercontent.com/assets/24811949/21524676/fd5c85f8-cce5-11e6-96a9-adeab9871d2c.png)

This is a test.

[2016-12-28 15:20] kingharrison commented on #22
Hello test!

[2016-12-28 15:29] Perk627 commented on #22
Test received

Mission accomplished

On Wed, Dec 28, 2016 at 10:20 AM King Harrison <notifications@github.com>
wrote:

[2016-12-30 11:34] #22 closed

[2016-12-30 16:33] michaelh18 opened #23 "Highlighted roll over"
When you roll over an item like below it highlights, which leads one to believe you can click on and open it.

Click on the item description or on right clicking as in K3S would be nice.

![image](https://cloud.githubusercontent.com/assets/24811949/21568560/9ca75a4a-ce83-11e6-8f01-6d65801fff18.png)

[2017-02-13 14:46] michaelh18 opened #24 "Fixed cycle"
When you attempt to change the fixed cycle settings, the popup window opens with defaults instead of what the current settings are.  Since there is a remove settings button, I believe the fields should be populated with the current settings.

![image](https://cloud.githubusercontent.com/assets/24811949/22887738/2db643aa-f1d1-11e6-9ef5-9c01b4f088f0.png)

![image](https://cloud.githubusercontent.com

[2017-02-13 15:26] kingharrison commented on #24
Fantastic idea! Just fixed it and added. Will be in the new version update of 2.13.17 (you can see the current version in the bottom right hand corner).

[2017-02-15 14:50] michaelh18 opened #25 "Start List"
While on the Products on Suggested Order Screen, if you open an item detail and then go back to Products on Suggested Order Screen and hit Start List, the list will begin with the item you opened.  Clicking on Start List won't begin with first item on the list until you click open the detail screen for the first item on the list.

[2017-02-15 15:04] kingharrison commented on #25
Can you elaborate a bit more?
Also on each line the last button is to do the start list from that point on. Does that help?

-King Harrison
Sent from iPhone
Please excuse all typos

On Wed, Feb 15, 2017 at 9:50 AM -0500, "michaelh18" <notifications@github.com> wrote:

While on the Products on Suggested Order Screen, if you open an item detail and then go back to Products on Suggested Order Screen

[2017-02-20 15:22] kingharrison commented on #25
@michaelh18 we had an email conversation outside of this. Do you feel this issue was addressed or do you think we need to take a further look together?

[2017-02-20 15:22] kingharrison commented on #24
This has been done and updated on the version you are on.

[2017-02-20 15:22] #24 closed

[2017-02-23 22:11] #25 closed

[2017-02-28 16:47] michaelh18 opened #26 "Convenience Pack Threshold"
In Jelly Bean, the Convenience Pack Threshold can be set as low as 10%.  In Black Bean you can only set it as low as 30%.  10% is more desirable.

![image](https://cloud.githubusercontent.com/assets/24811949/23414898/7cea5606-fdab-11e6-92a8-ba67bc766706.png)

![image](https://cloud.githubusercontent.com/assets/24811949/23414888/7354c1ee-fdab-11e6-930e-24ab8a150ff8.png)

![image](https://cloud.gith

[2017-02-28 17:03] kingharrison commented on #26
Let me research that. They should match.

[2017-03-01 19:25] kingharrison commented on #26
Hey @michaelh18 this should be fixed now and have the proper error message if you go below 10.

[2017-03-01 19:25] #26 closed

[2017-03-01 19:26] michaelh18 commented on #26
Looks good.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com/>

From: King Harrison [mailto:notifications@github.com]
Sent: Wednesday, March 01, 2017 2:25 PM
To: K3S/K3S-Replenish-

[2017-03-14 14:03] kingharrison commented on #7
@ajschenk workingon this today.

In the CSV do you need accumulated demand and a total? or is the other pieces just fine? Date, Order Number, Order Quantity, Ship, Customer #, Name, and Chain? Is that all you want from a CSV (with date filtering)

[2017-03-14 15:37] ajschenk commented on #7
Accumulated demand is not an important factor for this. That could be easily added via a pivot table, etc., once exported. For the export option, what is the date range that it will export, or will that be user defined? I would most certainly want more than one "page" to be exported.

[2017-03-14 15:38] kingharrison commented on #7
The entirety of the file but I will have to require some filter. Either required chain, prod... trying to think what else needed.

-King Harrison
Sent from iPhone
Please excuse all typos

________________________________
From: ajschenk <notifications@github.com>
Sent: Tuesday, March 14, 2017 11:37:21 AM
To: K3S/K3S-Replenish-Public
Cc: King Harrison; Comment
Subject: Re: [K3S/K3S-Replenish-Public]

[2017-03-14 15:42] ajschenk commented on #7
This would most likely be exported from a specific item record, so it should already be filtered down to that item number.

If this helps, one the most useful needs for this would be in the event of a product recall. The manufacturer will notify us of a specific product, in which we need to contact all customers who received the product within a specific date range. This export file makes it very

[2017-03-14 15:45] kingharrison commented on #7
Ok. So always required product ID and the rest would be filters. I think I can have that out by tomorrow then for you to test.

-King Harrison
Sent from iPhone
Please excuse all typos

________________________________
From: ajschenk <notifications@github.com>
Sent: Tuesday, March 14, 2017 11:42:35 AM
To: K3S/K3S-Replenish-Public
Cc: King Harrison; Comment
Subject: Re: [K3S/K3S-Replenish-Public] Sa

[2017-03-14 15:46] ajschenk commented on #7
Excellent!

[2017-03-19 17:40] kingharrison commented on #7
Added back smarter and you should be good to go. I will close this suggestion. IF you have any issues feel free to open a new one on here.

[2017-03-19 17:40] #7 closed

[2017-03-31 17:53] michaelh18 opened #27 "Deleted Item in a Batch"
My one PE Check had an item that was deleted after the batch was run and now I get this error when I get to the item:

![image](https://cloud.githubusercontent.com/assets/24811949/24562632/61047904-1619-11e7-925c-43febd08dcc2.png)

[2017-03-31 19:53] kingharrison commented on #27
ok. Because the item no longer exists in batch I can do a few things and you can let me know what is best.

I could skip over the item completely to the next one. you wouldnt ever know it wasnt there though.

I could show an 'item not found' screen and you click next.

or I could kick out of the batch so you could start after it.

thoughts?

[2017-03-31 20:20] michaelh18 commented on #27
I think skipping over it would be appropriate.   It would come up if we move an item from one vendor to another so we are already looking at the item or the item was discontinued and at that point we won’t care why it was in the batch.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffer

[2017-03-31 20:21] kingharrison commented on #27
Makes sense to me. I like easy ones! Ill work on this next week..... or probably this weekend (who am I kidding, hah!) Have a great weekend Mike!

[2017-04-04 18:27] kingharrison commented on #27
So this one is a bit tougher to fix because conceptually I understand it, but to find it on ours where the condition doesnt exist has been hard.

SO

I have put in a message that should capture the state that cause the error. You will get a white screen that says to email me a screenshot. If we can get that to work I can fix the error next round.

This will go in tomorrow in version 4.4.17

[2017-04-04 18:28] kingharrison commented on #23
@tnrn9b this is the particular ability I was describing.

[2017-04-04 18:43] tnrn9b commented on #23
This is going to be a bit delicate to implement a global solution. I'll need a bit to rethink what I was planning to do here.

[2017-04-07 14:57] michaelh18 opened #28 "Product Settings Start List"
From here

![image](https://cloud.githubusercontent.com/assets/24811949/24805742/d39e33c6-1b80-11e7-9a71-253d12a4f181.png)

Click on Product Settings
![image](https://cloud.githubusercontent.com/assets/24811949/24805767/e05a3c2c-1b80-11e7-9b8e-ec0e049b8a34.png)

Then click on Start to start the list of product settings and get this:
![image](https://cloud.githubusercontent.com/assets/24811949/2480

[2017-04-07 15:00] kingharrison commented on #28
Thanks Mike.

Honestly that button is just a shell and doesn't have the code behind it yet. I will address it this weekend and try and get it up for you soon.

[2017-04-07 15:01] michaelh18 commented on #28
Any idea when we will be able to see Royal Farms history split out like it is in Jelly Bean.  It is something that Michele and I use frequently.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.co

[2017-04-07 15:03] kingharrison commented on #28
Do you mean where it shows the multiple levels of history? I have another developer who is working on BB with me. I can actually start that piece with him next week.

[2017-04-07 15:04] kingharrison commented on #23
@michaelh18 this is actively being worked on, btw. Might have this for testing in a week.

[2017-04-07 16:03] michaelh18 commented on #28
Yes, that is it.  Great.  It’s a fantastic tool for us and really speeds up a couple different tasks.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com/>

From: King Harrison [mailt

[2017-04-21 17:15] kingharrison commented on #28
Hey @michaelh18

Product settings start list and multiple history is now up on your setup. closing this issue but let me know if you have any questions.

[2017-04-21 17:15] #28 closed

[2017-04-27 12:42] michaelh18 opened #29 "All Location Item lookup items view status only"
Need to be able to adjust items after having looked them up with All Location.  Currently they come up as view only.

![image](https://cloud.githubusercontent.com/assets/24811949/25483832/792fe420-2b25-11e7-8ed6-002620c21d3d.png)

![image](https://cloud.githubusercontent.com/assets/24811949/25483835/7ef0edf0-2b25-11e7-89de-af433ad7821a.png)

[2017-04-27 12:48] kingharrison commented on #29
Ok I can have a button show up if the order is currently locked. If not, you can take over the order. That work?

-King Harrison
Sent from iPhone
Please excuse all typos
________________________________
From: michaelh18 <notifications@github.com>
Sent: Thursday, April 27, 2017 8:42:52 AM
To: K3S/K3S-Replenish-Public
Cc: Subscribed
Subject: [K3S/K3S-Replenish-Public] All Location Item lookup items

[2017-04-27 12:50] michaelh18 commented on #29
The order isn’t locked.  It’s every item, every time.  I am able to hop into Jelly Bean and change it there without any issues.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com/>

[2017-04-27 12:53] kingharrison commented on #29
Just double checking: you mean adjusting the average and order amounts correct?

It's actually a weakness in Jelly bean because you could edit someone else's order they have locked.

-King Harrison
Sent from iPhone
Please excuse all typos
________________________________
From: michaelh18 <notifications@github.com>
Sent: Thursday, April 27, 2017 8:50:42 AM
To: K3S/K3S-Replenish-Public
Cc: King Harr

[2017-04-27 12:54] michaelh18 commented on #29
Yes.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com/>

From: King Harrison [mailto:notifications@github.com]
Sent: Thursday, April 27, 2017 8:54 AM
To: K3S/K3S-Replenish-Public
C

[2017-05-02 14:01] michaelh18 opened #30 "Old Order Cycles"
When updating Old Order Cycles the first vendor will not clear even after you update the order cycle.

![image](https://cloud.githubusercontent.com/assets/24811949/25621015/23bb280e-2f1e-11e7-9c25-0415ce991047.png)

It says here that it it still 6 days even though if you enter into the vendor, it says 12 days.

![image](https://cloud.githubusercontent.com/assets/24811949/25621066/41b1d20e-2f1e-11e

[2017-05-02 18:31] kingharrison commented on #30
Ok, good find. I am going to research. Thank ya sir!

[2017-05-02 18:48] kingharrison commented on #30
Figured it out! It is because you approved an order then went to go handle the old order cycle. I will try and come up with a better way to display, but you did correctly work through the order.

It is kinda one of those fringe cases.

[2017-05-03 00:10] kingharrison commented on #30
Ok, so I have a solution and it isn't perfect, but I think it will avoid confusion on the user end.

Basically we build those Agenda lists off the suggested orders. Once you approved the order it is hard for us to go back and 'un-approve' the order just to update the Order Cycle correctly. We end up in a situation where we need to choose a better option. So now once you approve an order that has a

[2017-05-03 00:10] #30 closed

[2017-05-03 13:02] michaelh18 commented on #30
Sounds good to me.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com/>

From: King Harrison [mailto:notifications@github.com]
Sent: Tuesday, May 02, 2017 8:11 PM
To: K3S/K3S-Repleni

[2017-05-30 14:39] kingharrison commented on #27
Ok I believe we have this tracked down and a way to tackle this. Should have a fix for this soon.

[2017-05-30 14:39] kingharrison commented on #23
Hoping to have this out to you and working before Friday @michaelh18

[2017-05-31 09:21] kingharrison commented on #23
This is added!

in User settings go and turn on Clickline.

When you click on the row the first button in options will be what is pressed EXCEPT when that option is delete. If you find one not working to this let me know.

[2017-05-31 09:22] #23 closed

[2017-05-31 10:07] kingharrison commented on #29
Ok found a solution and this should now work, I think, to your liking.

Check it out!

[2017-05-31 10:07] #29 closed

[2017-06-02 15:09] kingharrison commented on #27
This is fixed in the next update.

[2017-06-02 15:09] #27 closed

[2017-06-09 14:13] michaelh18 opened #31 "Copy History functions do not work"
Copy History ->Add to Existing History doesn't add the average correctly
Copy History ->Copy and Replace History doesn't work at all, only adds a couple periods and puts then in place prior years.

This shows the result Add to Existing History from Black Bean
![image](https://user-images.githubusercontent.com/24811949/26979218-0ace4b36-4cfc-11e7-8051-2e84e38f9ef3.png)

This shows the correct Add t

[2017-06-09 14:19] kingharrison commented on #31
Appreciate the heads up. We will get on that now.

[2017-06-11 10:28] kingharrison commented on #31
@michaelh18

I was able to confirm the average when add to existing happens is not correct. Will work on that.

However Copy and Replace as well as the historical periods before and after look correct on my end.

Could you help me step by step with these identify the inconsistency?

[2017-06-14 19:31] michaelh18 commented on #31
King,

Here is another example.

[cid:image001.png@01D2E522.C9959D40]

Here is the correct one after I updated in Jelly Bean.

[cid:image004.png@01D2E523.4A917B30]
[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth

[2017-06-16 12:18] michaelh18 opened #32 "Fixed Order Cycle"
For some vendors (153216 and 154690 I know for sure) the Fixed Order Cycle doesn't open properly.  Instead you get the image below.

![image](https://user-images.githubusercontent.com/24811949/27226294-414ab1a2-526c-11e7-8aad-810b2aad4cda.png)

[2017-06-16 13:02] kingharrison commented on #32
Working on that. Want to provide a warning that the order cycle isn't used for fixed cycle, but you can still play with the numbers.

We have a very large update coming soon fixing a lot of things. It's taking a minute because we're trying to make sure it works correct. Didn't want you to think we're ignoring your support issues on here.

-King Harrison
Sent from iPhone
Please excuse all typos
___

[2017-06-16 13:21] michaelh18 commented on #32
I did not mean Order cycle.  It’s the Fixed Cycle.  Those are both fixed Cycle vendors.  I’m not trying to adjust the order cycle for them, I’m clicking on Fixed Cycle to get the screen below.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@co

[2017-06-16 13:22] kingharrison commented on #32
Gotcha. I will look into it

-King Harrison
Sent from iPhone
Please excuse all typos
________________________________
From: michaelh18 <notifications@github.com>
Sent: Friday, June 16, 2017 9:21:55 AM
To: K3S/K3S-Replenish-Public
Cc: King Harrison; Comment
Subject: Re: [K3S/K3S-Replenish-Public] Fixed Order Cycle (#32)

I did not mean Order cycle. It’s the Fixed Cycle. Those are both fixed Cycle v

[2017-06-19 11:32] kingharrison commented on #32
Found the bug. It was actually from the ' in Nathan's. It will be fixed in the next update. Should be soon.

[2017-06-19 11:40] #32 closed

[2017-06-19 12:24] michaelh18 commented on #32
That explains why it didn’t work for “Bozzuto’s” either.

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com/>

From: King Harrison [mailto:notifications@github.com]
Sent: Monday, Jun

[2017-06-19 12:34] kingharrison commented on #32
Yes. and it wasn't just the Fixed cycle button. All the features of that screen were off.

[2017-07-28 19:59] kingharrison commented on #31
Finally found the bug in this one. Fix should be in Monday!

[2017-07-28 19:59] #31 closed

[2017-09-05 16:07] michaelh18 opened #33 "New Order Indentifier not displaying correctly"
This new feature is showing up in Status and in Total Adjustments.

![image](https://user-images.githubusercontent.com/24811949/30070841-b96a1852-9232-11e7-942e-c8b9257e7e27.png)

[2017-09-05 16:08] kingharrison commented on #33
Hi Michael, can you help point out what you mean?

[2017-09-05 18:09] kingharrison commented on #33
@michaelh18 I am going to close this as we had an offline to this github issue discussion and believe we are on the same page as it is working as expected.

[2017-09-05 18:09] #33 closed

[2017-09-11 14:04] #19 closed

[2017-09-11 14:04] #8 closed

[2017-09-18 18:37] michaelh18 opened #34 "Change Product Source"
Gives an error when trying to move and item to a subvendor.  I wasn't told this was working yet so the whole change product source may not be functional yet.

![image](https://user-images.githubusercontent.com/24811949/30558251-ca29d17c-9c7e-11e7-835a-04ee2eaacad2.png)

[2017-09-18 18:42] kingharrison commented on #34
This is one currently being worked on. @tnrn9b do you see what would have triggered that?

[2017-09-18 18:49] michaelh18 opened #35 "Product Link Doesn't have Parent/Child"
Need to have the option in Product Link for Parent/Child like there is in Jelly Bean.

![image](https://user-images.githubusercontent.com/24811949/30558711-6831351c-9c80-11e7-83cd-1a007101c4b0.png)

![image](https://user-images.githubusercontent.com/24811949/30558749-8d2f8044-9c80-11e7-8f83-e6a266d251eb.png)

[2017-09-19 18:37] michaelh18 opened #36 "Add Supplier"
Attempting to add a subvendor and get the message below "Entry must not be blank".  I have no idea which entry and it looks like i filled everything out that I needed to.

![image](https://user-images.githubusercontent.com/24811949/30608935-ea51edd0-9d47-11e7-8bb3-69c8e3cb4379.png)

[2017-09-19 18:37] michaelh18 commented on #36
Sorry, I missed the error with my screen shot.

![image](https://user-images.githubusercontent.com/24811949/30608987-12d20ef2-9d48-11e7-9f15-224963868dab.png)

[2017-09-19 19:03] kingharrison commented on #36
Found the issue. You just need to add a Unit 6 Text to the box (Normally it is listed as 'Other...').

For some reason the defaults program didn't load it in there. I will work on fixing the defaults but once you put in Unit 6 text it should add. You can also change the Unit 6 text later if you want.

[2017-09-19 19:03] #36 closed

[2017-09-19 19:57] kingharrison commented on #35
@tnrn9b this one as well

[2017-09-29 14:06] michaelh18 opened #37 "Vendor 155809 Manual item adjustment zero's SOQ"
When I manually adjust an manual item in vendor 155809 and only in vendor 155809, the SOQ is reduced to 0.

![image](https://user-images.githubusercontent.com/24811949/31019457-bde3e0ce-a4fd-11e7-91b6-e9a4108d3db0.png)
 and I get the following error when I try to approve the order.

![image](https://user-images.githubusercontent.com/24811949/31019479-d0aa93ce-a4fd-11e7-969b-2c72a653e718.png)

[2017-09-29 14:17] kingharrison commented on #37
I will look at that right now.

On September 29, 2017 at 10:06:41 AM, michaelh18 (notifications@github.com)
wrote:

When I manually adjust an manual item in vendor 155809 and only in vendor
155809, the SOQ is reduced to 0.

[image: image]
<https://user-images.githubusercontent.com/24811949/31019457-bde3e0ce-a4fd-11e7-91b6-e9a4108d3db0.png>
and I get the following error when I try to approve the or

[2017-09-29 14:33] kingharrison commented on #37
We were able to replicate it and it happens when you adjust product in that supplier. Working on it now.

[2017-09-30 00:30] kingharrison commented on #37
Hey @michaelh18 we were finally able to identify the issue. It will be pushed out by Monday. This one was difficult to find the exact cause but we got it!

[2017-09-30 00:30] #37 closed

[2017-10-06 11:48] tnrn9b commented on #35
Hi @michaelh18,
Sorry it took me so long to respond to this. This is fixed. It should be available for you next week at the latest. Until then, use the 'X' type for the 'Parent/Child' record you're wanting to create.

[2018-01-10 00:02] #35 closed

[2018-01-10 00:03] #34 closed

[2018-02-19 18:59] michaelh18 opened #38 "Hold Outs"
I am getting an error message when attempting to create a hold out.  I did not have any issues last week.

![image](https://user-images.githubusercontent.com/24811949/36393338-1d854a82-157d-11e8-8d28-7243c731daab.png)

[2018-02-19 19:38] kingharrison commented on #38
Thanks @michaelh18

@tnrn9b we should be able to test this on Dev box.

[2018-02-19 20:49] kingharrison commented on #38
@michaelh18 put out a hotfix. See if that fixes it for you.

[2018-02-19 20:50] michaelh18 commented on #38
That appears to have worked.

Thanks,

[CBWblueBevelLogo]

Mike Hoffert
Category Manager
200 Lincoln West Drive
Mountville, PA 17554
717-285-8000 ext. 193
800-992-0592   Fax: 717-285-8008
Michael.Hoffert@cooperbooth.com<mailto:Michael.Hoffert@cooperbooth.com>
www.cooperbooth.com<http://www.cooperbooth.com/>

From: King Harrison [mailto:notifications@github.com]
Sent: Monday, February 19, 2018 3:49

[2018-02-19 20:51] #38 closed

[2018-03-08 14:33] michaelh18 opened #39 "Product Link not working"
I get the that they supplier doesn't exist when I try to link to or from an item.

![image](https://user-images.githubusercontent.com/24811949/37156296-b263c172-22b3-11e8-830b-1e8b0d44bc6d.png)

[2018-03-09 10:37] kingharrison commented on #39
Hey @michaelh18

Sorry It took me a second to respond. I am actually out of the office on vacation with the fam.

@tnrn9b can you look at his values and see why the link might not be working?

[2018-03-11 13:16] kingharrison commented on #39
@michaelh18 as an update we have identified the issue and are working on it. We are also adding some new abilities to this. Will let you know when it is fixed.

[2018-03-15 10:45] kingharrison commented on #39
@michaelh18 we made some changes, added a new ability to edit a link, and pushed out to your install this morning. Please test and let us know if that solved your challenge.

[2018-03-19 10:31] kingharrison commented on #39
@michaelh18 I am going to close this issue as I believe it has been addressed. I will send a separate followup email as well.

[2018-03-19 10:31] #39 closed